body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.name_app {
    user-select: none;
    font-size: 25px;
}

.create_group {
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding: 7px 11px 7px 11px;
    border-radius: 10px;
}

.create_group > svg {
    margin-right: 5px;
}

.column_groups {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    gap: 30px;
    height: 100%;
    padding: 30px;
    overflow-x: scroll;
}

.group {
    user-select: none;
    width: 350px;
    height: fit-content;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 15px;
}

.group_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.group_title > span {
    margin-right: 10px;
    font-size: 19px;
    overflow-wrap: anywhere;
    cursor: pointer;
}

.group_delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.group_content {
    padding: 20px;
}

.task {
    display: grid;
    width: fit-content;
    padding: 10px 0 0 0;
    cursor: pointer;
}

.task:first-child {
    padding: 0 0 0 0;
}

.task:last-child {
    padding: 10px 0 0 0;
}

.task > span {
    overflow-wrap: anywhere;
}

.task > time {
    font-size: 10px;
}

.create_task {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 15px 0 15px 0;
    background: rgb(250, 250, 250);
}

.create_task:hover {
    background: rgb(238, 238, 238);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal_editable {
    padding-top: 10px;
}

.modal_content {
    max-width: 500px;
    max-height: 500px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal_content::-webkit-scrollbar {
    display: none;
}

.modal_content > span {
    font-size: 19px;
}